<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="FuelPrice" value="1.650"/>
    <add key="ElectricityPrice" value="11.3536"/>
    <add key="SelectedFolder" value="C:\Users\nicol\source\repos\tsarbiker\VoltAnalyzer\torqueLogs"/>
    <add key="FuelConsumptionAverageByDay" value="true"/>
    <add key="BatterySize" value="16.5"/>
    <add key="FullCharge" value="13000"/>
  </appSettings>
</configuration>
